.clock {
  margin: 10px auto;

  width: 100%;
  max-width: 200px;

  border: 2px solid lightcoral;
  border-radius: .2rem;

  background: rgba(255, 255, 255, 0.100);
  box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.200);
}

.p-clock,
.p-timer,
.p-users {
  text-align: center;
  font-size: 22px;
}

.btns-timer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btn-timer {
  cursor: pointer;

  width: 100%;
  max-width: 120px;

  padding: .4rem 0rem;

  border: 1px solid transparent;
  border-radius: .4rem;

  text-transform: uppercase;
  font-weight: 600;

  color: lightcoral;
  background: rgba(255, 255, 255, 0.100);

  transition: transform 300ms ease-in-out;
}

.btn-timer:active,
.btn-false:active {
  transform: scale(.98);
}

.btn-false {
  background: transparent;
  border: 1px solid lightcoral;
}

.ol-users {
  margin: auto;
  padding: 1rem;
  width: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  border: 2px solid lightcoral;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}