.h1-title {
  margin-bottom: 15px;
  margin-top: 15px;

  text-align: center;
  text-transform: uppercase;

  letter-spacing: 4px;
}

.p-spa {
  text-align: center;
  font-size: 17px;
}

.a-spa {
  display: flex;
  justify-self: center;
  align-self: center;

  text-decoration: none;
  color: lightcoral;
}

/* .button-spa {
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;

  padding: .5rem;
  margin-top: 15px;

  width: 100%;
  max-width: 140px;

  display: flex;
  justify-self: center;
  justify-content: center;

  border: 1px solid lightgreen;
  border-radius: 5px;

  color: lightgreen;
  background: transparent;
} */

.div-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-spa {
  width: 100px;
  height: 100px;

  border-radius: 50%;
}