.ball-follower {
  pointer-events: none;

  height: 40px;
  width: 40px;

  position: absolute;
  left: -20%;
  top: -20%;

  border-radius: 50%;

  background: #0099ff;
  opacity: .8;
}

.btn-follower {
  width: 100%;
  max-width: 220px;

  padding: .4rem;

  border: 1px solid currentColor;
  border-radius: 4px;

  color: currentColor;
  background: red;
}

.deactivated {
  background: green;
}